body{
	color:white;
	background-color:rgba(0,0,0,1);
	font-family: sans-serif;
}
.nbitCalc{
	border-color:white;
	border-radius:6px;
	border-style:solid;
	border-width:2px;
	margin:10px;
	padding:5px;
	width:200px;
}
.hrOne{
	height:2px;
	background-color:white;
	border-radius:5px;
}
div{
}
.boxes{
	display:flex;
}
.hz{
	align-items:center;
	border-color:white;
	border-radius:6px;
	border-style:solid;
	border-width:2px;
	margin:10px;
	padding:5px;
	width:200px;
}
button{
	text-align:center;
	align-items:center;
	background-color:black;
	color:white;
	border-radius:3px;
	font-weight:bold;
}
.title{
	font-size:30px;
	text-align:center;

}
.titleDiv{
	display:flex;
	align-items:center;
	vertical-align:middle;
	background-color:rgba(0,0,0,0.5);
	border-color:white;
	border-width:4px;
	border-radius:4px;
	border-style:solid;
}
.imgBalla{
	max-width:100px;
	height:auto;
}
.immagine{
	border-color:white;
	border-width:4px;
	border-radius:5px;
	border-style:solid;
}
.center{
	margin:auto;
	width:50%;
	padding:10px;
}
